@model IncognitoReads.Models.LoginViewModel

<div class="rectangle">
    <div class="login-container">
        <h2>Login</h2>
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    Remember Me
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>Don't have an account? <a asp-action="Register">Register here</a></p>
    </div>
</div>

<style>
    .rectangle {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 380px;
        text-align: center;
        margin: auto;
    }

    .rectangle h1 {
        margin-top: 0;
        font-size: 24px;
        color: #333;
    }

    .rectangle input {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .rectangle button {
        width: calc(100% - 20px);
        padding: 10px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    .rectangle button:hover {
        background-color: #333;
    }

    .form-group{
        text-align:left;
    }
</style>
